name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    container: node:14
    
    services:
      redis:
        image: redis:rc
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
    steps:
    - name: Check out
      uses: actions/checkout@v2
    - name: Install dependencies
      run: npm ci
    - name: Audit packages
      run: npm audit
    - name: Install test dependencies
      run: npm install --save-dev mocha
    - name: Run all test cases 
      run: npm test
